html{
   background-color: #F8FAFC ;
    width: 100%;
 
}
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
section {
  display: -webkit-flex;
  display: flex;
}
nav {
  flex: 1;
  width: 25%;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 1%;
 background-image: linear-gradient(#6BAFB1, #B2DCDF, #F9F5FC);
  position: fixed;
}
nav li{
	text-align: center;
	padding: 8px 16px;
  	text-decoration: none;
}

li{
	margin-top: 100%;
	margin-bottom: 100%;
}
#dashboard{
	flex: 9;
	width: 80%;
	margin: 3%;
}
#dash-box{
	/*margin-top: -45%;*/ 
	flex: 8;
	width: 80%;

}
p{
	font-size: 14px;
}
img{
	
}
#dash-card{
	width: 30%;
	border-radius: 14%;
	
}
#countainer{
	/*margin-top: -46%;*/
	
	/*width: 67%;*/
	-webkit-flex:5;
	margin-left: 29%;
	flex: 4;
	width: 69%;
	border-radius: 12%;

}

#form-input{
  flex: 8;
  width: 75%;
  background-color: #ffffff;
  padding: 2%;
  border-radius: 3%;
  margin: 2%;
}

#viewPasien{
	flex: 8;
  width: 75%;
  background-color: #ffffff;
  padding: 2%;
  border:1%;
  border-radius: 4%;
  margin: 2%;
}
