html{
    background-color: #F8FAFC ;
    width: 100%;
    font-family: 'Open Sans', sans-serif;

}
/* @media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
} */
section {
  display: -webkit-flex;
  display: flex;
}

#navbar{
    background: #ffffff;
}

#dash-card h4{
    color: #EE6876;
}

/* Style the list inside the menu */
/* #dashboard{
	flex: 9;
	width: 80%;
	margin: 3%;
} */
#container{
	/*margin-top: -45%;*/
	/* flex: 8; */
	width: 100%;

}

#recent{
    font-family: 'Open Sans', sans-serif;
    border-radius: 20px;
    background-color: #ffffff;
}

p{
	font-size: 14px;
}

#dash-card{
    font-family: 'Open Sans', sans-serif;
    border-radius: 20px;
    background-color: #F8E5E9;
}

#chart{
    font-family: 'Open Sans', sans-serif;
    border-radius: 20px;
    background-color: #ffffff;
}

#dashboard-img{
    position: absolute;
    right: 300px;
}

#dash-card h4, span{
    font-family: 'Open Sans', sans-serif;

}

#countainer{
	-webkit-flex:5;
	margin-left: 29%;
	flex: 4;
	width: 69%;
	border-radius: 12%;

}

#form-input{
  flex: 8;
  width: 75%;
  background-color: #ffffff;
  padding: 2%;
  margin: 2%;
}

#viewPasien{
  background-color: #ffffff;
  padding: 20px;
  margin: 30px;
  height: 600px;
}

@media (max-width:1180px) {
    #dash-card{
        width: 90%;
    }
    #dashboard-img{
        right: 200px;
        width: 220px;
        height: 220px;
    }
}

@media (max-width:960px) {
    #dashboard-img{
        display: none;
    }
    #dash-card p{
        font-size: 14pt;
    }
}
