html{
    background-color: #F8FAFC ;
    width: 100%;
    font-family: 'Open Sans', sans-serif !important;

}

body{
    font-family: 'Open Sans', sans-serif !important;
}

section {
  display: -webkit-flex;
  display: flex;
}

#navbar{
    background: #ffffff;
}

#container{
    background-color: #ffffff;
    border-radius: 20px;
    /* width: 100%; */
}
